.columna {

    background-color:  #005883;
    color: white;
    padding: 20px;
    width: 25%;
    margin: 10px;
}

.bloques { 
    display: flex;
    
    }
   
   
    .titulo {

color: blue;
background-color: cornsilk;
width: 90%;
margin: 5px;
padding: 5px;

    }

.YOUTUBE {

color: white;
padding: 20px;
margin: 5px;
width: 50%;
text-decoration: none;

}